/* Filter Section */
.filter-section {
	margin-bottom: 20px;
}

.filter-container {
	display: flex;
	align-items: center;
	gap: 15px;
}

.filter-options {
	display: flex;
	align-items: center;
	gap: 15px;
}

.filter-item {
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: #333;
}

.filter-item i {
	margin-right: 5px;
}

.filter-dropdown {
	padding: 8px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 200px;
}

.reset-button {
	padding: 8px 15px;
	background-color: #ff0000;
	color: white;
	border: none;
	border-radius: 5px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.reset-button i {
	font-size: 1rem;
}

.reset-button:hover {
	background-color: #cc0000;
}

.add-crew-btn {
	background-color: #4880FF;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
}

.add-crew-btn:hover {
	background-color: #3767b4;
}

.add-user-button {
	margin-left: auto; /* Push it to the rightmost side */
	background-color: #007bff; /* Example Bootstrap color */
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 4px;
	font-size: 1rem;
}

.add-crew-button:hover {
	background-color: #0056b3; /* Darker blue for hover effect */
}